-return unless BannerHelper.is_enabled?(@project)
-banner = Banner.find(:first, :conditions => ['project_id = ?', @project.id])
-return '' unless banner && banner.enable_banner?
-display_part = banner.display_part
-return '' unless BannerHelper.is_action_to_display?(@_controller, display_part)

:javascript
  jQuery(document).ready(function(){
    $('#content h2').after('#{escape_javascript(render('banner/banner', :banner=>banner))}')
  });